build/
dist/
paraphraser.egg-info/
__pycache__/
*.pyc
*.swp
nohup.out
paraphraser/checkpoints/model-171856.meta
paraphraser/checkpoints/model-171856.data-00000-of-00001
paraphraser/checkpoints/model-171856.index
para-nmt-50m/
env/
